<% if title %>
  <div style="display: flex;">
    <a href="/" class="ui teal image header" style="flex: 1">
      <%= image_tag "logo_300.png", class: "logo" %>
    </a>
    <h1 style="margin-top: 0; flex: 2">
      <%= title %>
    </h1>
  </div>
<% end %>
