h1.title Pages#home
p.subtitle Find me in app/views/pages/home.html.slim

= link_to "Dashboard", user_path, class: "button is-link"

hr

h2.title.is-4 React component
= react_component 'HelloReact', {}
