h1.ui.header Pages#home
p.ui.sub.header Find me in app/views/pages/home.html.slim

= link_to "Dashboard", user_path, class: "button is-link"

hr

h2.ui.header React component
= react_component 'HelloReact', {}
